iobroker-data/node-red/flows.json
[{"id":"26fd881f.d1f8a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"889944cf.910248","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ad3030a.b04a7c","type":"template","z":"26fd881f.d1f8a8","name":"dynamic ip ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"# interfaces(5) file used by ifup(8) and ifdown(8)\n\n# Please note that this file is written to be used with dhcpcd\n# For static IP, consult /etc/dhcpcd.conf and 'man dhcpcd.conf'\n\n# Include files from /etc/network/interfaces.d:\nsource-directory /etc/network/interfaces.d\n\nauto lo eth0 wlan0\niface lo inet loopback\n\niface eth0 inet manual\n\niface wlan0 inet manual\n\nwpa-conf /etc/wpa_supplicant/wpa_supplicant.conf\n","x":970,"y":380,"wires":[[]]},{"id":"690587d6.c19d08","type":"file","z":"26fd881f.d1f8a8","name":"network interfaces","filename":"/etc/network/interfaces","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1191.7857475280762,"y":429.40475940704346,"wires":[]},{"id":"8dcedb02.fc6bc8","type":"function","z":"26fd881f.d1f8a8","name":"eth0 ip","func":"global.set('ip.address',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":525.6786346435547,"y":74.65472412109375,"wires":[["550b0489.e3205c"]]},{"id":"f48e319e.902b2","type":"function","z":"26fd881f.d1f8a8","name":"ip.address","func":"msg.payload = global.get('ip.address');\n\nreturn msg;","outputs":1,"noerr":0,"x":395.0119438171387,"y":449.9880619049072,"wires":[["1b5b3380.6bee7d"]]},{"id":"904ceb8.0d9fe18","type":"function","z":"26fd881f.d1f8a8","name":"wifi ip ","func":"global.set('wifi.address',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":529.0119171142578,"y":112.9880142211914,"wires":[["87abb1fe.07f3f"]]},{"id":"9e6b6eda.990d4","type":"switch","z":"26fd881f.d1f8a8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip.address","vt":"str"},{"t":"eq","v":"wifi.address","vt":"str"},{"t":"eq","v":"ip.broadcast","vt":"str"},{"t":"eq","v":"ip.network","vt":"str"},{"t":"eq","v":"ip.netmask","vt":"str"}],"checkall":"true","outputs":5,"x":365.67860412597656,"y":99.8927993774414,"wires":[["8dcedb02.fc6bc8"],["904ceb8.0d9fe18"],["a278d14.079b33"],["7df14a20.45ed14"],["b1f7457d.3e9318"]]},{"id":"a278d14.079b33","type":"function","z":"26fd881f.d1f8a8","name":"broadcast","func":"global.set('ip.broadcast',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":539.9643096923828,"y":151.3213882446289,"wires":[["ab8474fb.c740f8"]]},{"id":"7df14a20.45ed14","type":"function","z":"26fd881f.d1f8a8","name":"network","func":"global.set('ip.network',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":539.9643096923828,"y":187.03568267822266,"wires":[["d1ede761.cc2838"]]},{"id":"b1f7457d.3e9318","type":"function","z":"26fd881f.d1f8a8","name":"netmask","func":"global.set('ip.netmask',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":537.1071929931641,"y":222.7499771118164,"wires":[["77935a93.d07af4"]]},{"id":"a6fc3ad9.354598","type":"inject","z":"26fd881f.d1f8a8","name":"","topic":"ip.address","payload":"192.169.0.10","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.67860412597656,"y":27.321388244628906,"wires":[["9e6b6eda.990d4"]]},{"id":"663d35ad.2b19cc","type":"inject","z":"26fd881f.d1f8a8","name":"","topic":"ip.broadcast","payload":"192.169.0.255","payloadType":"str","repeat":"","crontab":"","once":false,"x":121.67860412597656,"y":67.3213882446289,"wires":[["9e6b6eda.990d4"]]},{"id":"d37715eb.4a13b8","type":"inject","z":"26fd881f.d1f8a8","name":"","topic":"ip.network","payload":"192.169.0.1","payloadType":"str","repeat":"","crontab":"","once":false,"x":141.67860412597656,"y":107.3213882446289,"wires":[["9e6b6eda.990d4"]]},{"id":"b4e3a872.34ec98","type":"inject","z":"26fd881f.d1f8a8","name":"","topic":"ip.netmask","payload":"255.255.255.0","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.67860412597656,"y":147.3213882446289,"wires":[["9e6b6eda.990d4"]]},{"id":"642c3b00.828904","type":"function","z":"26fd881f.d1f8a8","name":"broadcast","func":"msg.payload = global.get('ip.broadcast');\n\nreturn msg;","outputs":1,"noerr":0,"x":376.6785888671875,"y":485.98803520202637,"wires":[["37b94af3.630826"]]},{"id":"b42a93fc.13d61","type":"function","z":"26fd881f.d1f8a8","name":"network","func":"msg.payload = global.get('ip.network');\n\nreturn msg;","outputs":1,"noerr":0,"x":375.01190185546875,"y":522.9880352020264,"wires":[["4ad0f89e.c779b8"]]},{"id":"d2495cf9.22af8","type":"function","z":"26fd881f.d1f8a8","name":"netmask","func":"msg.payload = global.get('ip.netmask');\n\nreturn msg;","outputs":1,"noerr":0,"x":373.34527587890625,"y":558.9880352020264,"wires":[["d686eb88.6d8098"]]},{"id":"550b0489.e3205c","type":"debug","z":"26fd881f.d1f8a8","name":"","active":true,"console":"false","complete":"false","x":733.3452301025391,"y":72.3213882446289,"wires":[]},{"id":"87abb1fe.07f3f","type":"debug","z":"26fd881f.d1f8a8","name":"","active":true,"console":"false","complete":"false","x":733.3452301025391,"y":110.65471649169922,"wires":[]},{"id":"ab8474fb.c740f8","type":"debug","z":"26fd881f.d1f8a8","name":"","active":true,"console":"false","complete":"false","x":735.0119171142578,"y":147.3213882446289,"wires":[]},{"id":"d1ede761.cc2838","type":"debug","z":"26fd881f.d1f8a8","name":"","active":true,"console":"false","complete":"false","x":735.0119171142578,"y":185.65471649169922,"wires":[]},{"id":"77935a93.d07af4","type":"debug","z":"26fd881f.d1f8a8","name":"","active":true,"console":"false","complete":"false","x":735.0119171142578,"y":222.32137298583984,"wires":[]},{"id":"d97f5654.d3aa38","type":"inject","z":"26fd881f.d1f8a8","name":"","topic":"wifi.address","payload":"192.169.0.11","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.67860412597656,"y":187.3213882446289,"wires":[["9e6b6eda.990d4"]]},{"id":"e20f0ef5.2bfa5","type":"function","z":"26fd881f.d1f8a8","name":"wifi.address","func":"msg.payload = global.get('wifi.address');\n\nreturn msg;","outputs":1,"noerr":0,"x":395.01190185546875,"y":415.6547222137451,"wires":[["2e51ffcb.f138c"]]},{"id":"3285a220.6c331e","type":"inject","z":"26fd881f.d1f8a8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":185.0119285583496,"y":467.3213710784912,"wires":[["e20f0ef5.2bfa5","f48e319e.902b2","642c3b00.828904","d2495cf9.22af8","b42a93fc.13d61"]]},{"id":"ce313258.4c5da","type":"template","z":"26fd881f.d1f8a8","name":"static eth0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"# interfaces(5) file used by ifup(8) and ifdown(8)\n\n# Please note that this file is written to be used with dhcpcd\n# For static IP, consult /etc/dhcpcd.conf and 'man dhcpcd.conf'\n\n# Include files from /etc/network/interfaces.d:\nsource-directory /etc/network/interfaces.d\n\nauto lo eth0 wlan0\niface lo inet loopback\n\niface eth0 inet static\n  address {{flow.ip.address}}\n  netmask {{flow.ip.netmask}}\n  broadcast {{flow.ip.broadcast}}\n  network {{flow.ip.network}}\n  \niface wlan0 inet dhcp\n\nwpa-conf /etc/wpa_supplicant/wpa_supplicant.conf","x":971.6785049438477,"y":425.654709815979,"wires":[[]]},{"id":"2e51ffcb.f138c","type":"change","z":"26fd881f.d1f8a8","name":"settings","rules":[{"t":"set","p":"topic","pt":"msg","to":"wifi.address","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":556.6786270141602,"y":417.32138442993164,"wires":[["80ccfa21.b6b4b8"]]},{"id":"1b5b3380.6bee7d","type":"change","z":"26fd881f.d1f8a8","name":"settings","rules":[{"t":"set","p":"topic","pt":"msg","to":"ip.address","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":556.6786041259766,"y":452.3213577270508,"wires":[["5c0d56a2.f01b28"]]},{"id":"37b94af3.630826","type":"change","z":"26fd881f.d1f8a8","name":"settings","rules":[{"t":"set","p":"topic","pt":"msg","to":"ip.broadcast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":556.6786041259766,"y":485.65470123291016,"wires":[["519b96f0.5b41b8"]]},{"id":"4ad0f89e.c779b8","type":"change","z":"26fd881f.d1f8a8","name":"settings","rules":[{"t":"set","p":"topic","pt":"msg","to":"ip.network","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":553.3452301025391,"y":518.9880447387695,"wires":[["a9c7f25.2f6b91"]]},{"id":"d686eb88.6d8098","type":"change","z":"26fd881f.d1f8a8","name":"settings","rules":[{"t":"set","p":"topic","pt":"msg","to":"ip.netmask","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":548.3452301025391,"y":555.6547012329102,"wires":[[]]},{"id":"80ccfa21.b6b4b8","type":"function","z":"26fd881f.d1f8a8","name":"","func":"flow.set(\"wifi.address\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":703.3452301025391,"y":418.98804473876953,"wires":[["ce313258.4c5da"]]},{"id":"5c0d56a2.f01b28","type":"function","z":"26fd881f.d1f8a8","name":"","func":"flow.set(\"ip.address\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":701.6786041259766,"y":453.98804473876953,"wires":[["ce313258.4c5da"]]},{"id":"519b96f0.5b41b8","type":"function","z":"26fd881f.d1f8a8","name":"","func":"flow.set(\"ip.broadcast\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":696.6786041259766,"y":490.3213577270508,"wires":[["ce313258.4c5da"]]},{"id":"a9c7f25.2f6b91","type":"function","z":"26fd881f.d1f8a8","name":"","func":"flow.set(\"ip.network\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":695.0119171142578,"y":525.6547012329102,"wires":[["ce313258.4c5da"]]},{"id":"82080593.d455b8","type":"function","z":"26fd881f.d1f8a8","name":"","func":"flow.set(\"ip.netmask\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":695.0119171142578,"y":560.6547012329102,"wires":[["ce313258.4c5da"]]},{"id":"67cdd826.c3a558","type":"inject","z":"26fd881f.d1f8a8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":708.3452529907227,"y":358.9880599975586,"wires":[["5ad3030a.b04a7c"]]},{"id":"35a6f4ef.46485c","type":"bigexec","z":"26fd881f.d1f8a8","name":"","command":"sudo sync","commandArgs":"","minError":1,"minWarning":1,"cwd":"","shell":"","extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":635.0119374593098,"y":646.4880549112955,"wires":[["126c9858.5cc448"],[],[]]},{"id":"5d010322.33bd6c","type":"inject","z":"26fd881f.d1f8a8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":388.3452606201172,"y":650.6547012329102,"wires":[["35a6f4ef.46485c"]]},{"id":"df4e4683.05da08","type":"bigexec","z":"26fd881f.d1f8a8","name":"","command":"sudo reboot","commandArgs":"","minError":1,"minWarning":1,"cwd":"","shell":"","extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":985.0118522644043,"y":643.9879989624023,"wires":[[],[],[]]},{"id":"126c9858.5cc448","type":"delay","z":"26fd881f.d1f8a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790.0119476318359,"y":645.6547269821167,"wires":[["df4e4683.05da08"]]},{"id":"ba03952a.0d2048","type":"ioBroker in","z":"26fd881f.d1f8a8","name":"","topic":"vis.0.datapoints.ip.address","payloadType":"value","onlyack":"","func":"rbe","gap":"","x":131.67860412597656,"y":227.3213882446289,"wires":[[]]},{"id":"f3764155.1edde","type":"ioBroker in","z":"26fd881f.d1f8a8","name":"","topic":"vis.0.datapoints.wifi.address","payloadType":"value","onlyack":"","func":"rbe","gap":"","x":121.67860412597656,"y":267.3213882446289,"wires":[[]]},{"id":"cd99b0e1.8f68f","type":"ioBroker in","z":"26fd881f.d1f8a8","name":"","topic":"vis.0.datapoints.ip.broadcast","payloadType":"value","onlyack":"","func":"rbe","gap":"","x":121.67860412597656,"y":307.3213882446289,"wires":[[]]},{"id":"506e6514.a6f44c","type":"ioBroker in","z":"26fd881f.d1f8a8","name":"","topic":"vis.0.datapoints.ip.network","payloadType":"value","onlyack":"","func":"rbe","gap":"","x":131.67860412597656,"y":347.3213882446289,"wires":[[]]},{"id":"89db3134.3c3aa","type":"ioBroker in","z":"26fd881f.d1f8a8","name":"","topic":"vis.0.datapoints.ip.netmask","payloadType":"value","onlyack":"","func":"rbe","gap":"","x":121.67860412597656,"y":387.3213882446289,"wires":[[]]}]